<div class="wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Seja bem-vindo ao nosso site</h2>
                    <p class="description">Aqui você encontra os melhores produtos para sua necessidade!</p>
                    <p class="description">Temos a melhor qualidade pelo melhor preço.</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Telefone: 1-971-fralda,</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:confort@lookafter.com"> confort@lookafter.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>