<div class="wrapper">
    <div class="page-header">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Seja bem vindo</h3>
                        <div class="social-line text-center">
                            <a href="https://www.facebook.com" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://www.instagram.com" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && formulario.email.errors }" />
                                <div *ngIf="submitted && formulario.email.errors" class="invalid-feedback">
                                    <div *ngIf="formulario.email.errors.required">E-mail é obrigatorio</div>
                                    <div *ngIf="formulario.email.errors.email">O email deve ser um endereço de email
                                        válido</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" formControlName="password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && formulario.password.errors }" />
                                <div *ngIf="submitted && formulario.password.errors" class="invalid-feedback">
                                    <div *ngIf="formulario.password.errors.required">Senha é obrigatorio</div>
                                    <div *ngIf="formulario.password.errors.minlength">A senha deve ter pelo menos 6
                                        caracteres</div>
                                </div>
                            </div>
                            <button class="btn btn-default btn-block btn-round">Acessar</button>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link">voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>